WMI~=1.5.1
requests~=2.28.1
pyttsx3~=2.90
DateTime~=4.9
wikipedia~=1.4.0
PyAutoGUI~=0.9.53
psutil~=5.9.4
speedtest~=0.0.1
pyjokes~=0.6.0
pywhatkit~=5.4
googletrans~=3.0.0
openai~=0.26.0
ecapture~=2.0.2
bs4~=0.0.1
beautifulsoup4~=4.11.1
playsound~=1.3.0
pywikihow~=0.5.7
PyDictionary~=2.0.1