customtkinter=5.0.3
pyttsx3=2.90
datetime=4.9
speechrecognition=3.9.0
wikipedia=1.4.0
pyautogui=0.9.53
screen_brightness_control=0.18.0
pyscreenshot=3.0
bs4=0.0.1
requests=2.28.1
pyjokes=0.6.0
openai=0.26.0
PyDictionary=2.0.1